doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
    div(class='text-center')
      img(src="/header.png", alt="", class="img-fluid")
    block content
