body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.btn-orange {
  background-color: #F36D21 !important;
}

.btn-yellow {
  background-color: #F7CC15!important;
}
